services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile.dev
    ports:
      - "3847"
    environment:
      - NODE_ENV=development
      - BACKEND_PORT=3847
      - MONGO_URI=mongodb+srv://abt:123@cluster0.niujzfd.mongodb.net/devop
    depends_on:
      - mongo
    volumes:
      - ../backend:/app
      - /app/node_modules

  gateway:
    build:
      context: ../gateway
      dockerfile: Dockerfile.dev
    ports:
      - "5921:5921"
    environment:
      - NODE_ENV=development
      - BACKEND_URL=http://backend:3847
    depends_on:
      - backend
    volumes:
      - ../gateway:/app
      - /app/node_modules

  mongo:
    image: mongo:8.2-noble
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=abt
      - MONGO_INITDB_ROOT_PASSWORD=123
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
