services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile.dev
    ports:
      - "3847"
    environment:
      - NODE_ENV=production
    env_file:
      - ../backend/.env
    depends_on:
      - mongo
    volumes:
      - ../backend:/app
      - /app/node_modules

  gateway:
    build:
      context: ../gateway
      dockerfile: Dockerfile.dev
    ports:
      - "5921:5921"
    env_file:
      - ../gateway/.env
    depends_on:
      - backend
    depends_on:
      - backend
    volumes:
      - ../gateway:/app
      - /app/node_modules

  mongo:
    image: mongo:8.2-noble
    ports:
      - "27017"
    
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
